

html,nav,#btn-translate,textarea,body{
    font-family: Poppins,Verdana , sans-serif;
    
    font-size: medium;
    font-weight: lighter;
}





#nav{
    padding: 0.5rem;
    background-color:mediumseagreen;
    color:white;
}
textarea{
    width:55%;
    padding:1rem;
    height:15vh;
    margin: 1rem;
    display: block;
    color:black;
    text-align: center;
   
}

#btn-translate:hover {
    background-color: rgb(3, 221, 138)
}
#input{
    margin-top:2rem;
    
}
#btn-translate{
    margin: 1rem;
    padding:1rem;
    border-radius: 2px;
    background-color: mediumseagreen;
    font-size: medium;
    color:white;
}
#output{
    width: 52%;
    padding: 2rem;
    height: 8vh;
    border: 1px solid black;
    margin: 1rem;
    text-align: center;

   
}


#about{
    padding:1rem;
    background-color: mediumseagreen;
    color: white;
}

